.stayPage {
  margin: 2%;
  background-color: #ff4500;
  padding: 1%;
  /* border: 2px solid black; */
}

.stayPageText {
  /* margin-top: 1%; */
  /* margin-bottom: 2%; */
  font-size: 1em;
  margin: 2%;
  /* border: 2px solid black; */
}

.stayPageSepText {
  margin: 1%;
  font-size: 0.7em;
}
@media only screen and (min-width: 768px) {
  .stayPageText {
    /* margin-top: 1%; */
    /* margin-bottom: 2%; */
    font-size: 1.2em;
    margin: 2%;
    /* border: 2px solid black; */
  }
}

@media only screen and (min-width: 1024px) {
  .stayPageText {
    /* margin-top: 1%; */
    /* margin-bottom: 2%; */
    font-size: 1.4em;
    margin: 2%;
    /* border: 2px solid black; */
  }
}
