.stayPage {
  margin: 2%;
  background-color: #ff4500;
  padding: 1%;
  /* border: 2px solid black; */
}

@media only screen and (max-width: 320px) {
  .tableHeadStay {
    text-align: center;
    background-color: #b0c4de; /*lightsteelblue*/
    border: 2px solid black;
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 768px) {
  .tableHeadStay {
    text-align: center;
    background-color: #b0c4de; /*lightsteelblue*/
    border: 2px solid black;
    font-size: 1.2em;
  }
}
