.stayPage {
  margin: 2%;
  background-color: #ff4500; /*orangered*/
  padding: 1%;
  /* border: 2px solid black; */
}

.stayPageText {
  font-size: 1em;
  margin: 2%;
  /* border: 2px solid black; */
}

.stayPageSepText {
  margin: 1%;
  font-size: 0.7em;
}
@media only screen and (min-width: 768px) {
  .stayPageText {
    font-size: 1.2em;
    /* border: 2px solid black; */
  }
  .stayPageSepText {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 1024px) {
  .stayPageText {
    font-size: 1.4em;
    /* border: 2px solid black; */
  }
  .stayPageSepText {
    font-size: 1.1em;
  }
}
