.filmPage {
  margin: 2%;
  background-color: #d2691e; /*chocolate*/
  padding: 1%;
  /* border: 2px solid black; */
}

.filmPageParagraph {
  margin-top: 1%;
  margin-bottom: 1%;
}
.filmPageText {
  font-size: 1em;
  margin: 2%;
  /* border: 2px solid black; */
}

.filmPageSepText {
  margin: 1%;
  font-size: 0.7em;
}

@media only screen and (min-width: 768px) {
  .filmPageText {
    font-size: 1.2em;
    /* border: 2px solid black; */
  }

  .filmPageSepText {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 1024px) {
  .filmPageText {
    font-size: 1.4em;
    /* border: 2px solid black; */
  }

  .filmPageSepText {
    font-size: 1.1em;
  }
}
