.foodPage {
  margin: 2%;
  background-color: #00bfff; /*blue*/
  padding: 1%;
  /* border: 2px solid black; */
}

/* .foodPageHeading {
  font-size: 1em;
  margin: 1%;
  padding: 1%; */
/* border: 2px solid black; */
/* } */

.foodPageText {
  /* margin-top: 1%; */
  /* margin-bottom: 2%; */
  font-size: 1em;
  margin: 2%;
  /* border: 2px solid black; */
}

.foodPageSepText {
  margin: 1%;
  font-size: 0.7em;
}

@media only screen and (min-width: 768px) {
  .foodPageText {
    /* margin-top: 1%; */
    /* margin-bottom: 2%; */
    font-size: 1.2em;
    /* margin: 2%; */
    /* border: 2px solid black; */
  }
  .foodPageSepText {
    /* margin: 1%; */
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 1024px) {
  .foodPageText {
    /* margin-top: 1%; */
    /* margin-bottom: 2%; */
    font-size: 1.4em;
    /* margin: 2%; */
    /* border: 2px solid black; */
  }

  .foodPageSepText {
    /* margin: 1%; */
    font-size: 1.1em;
  }
}
