.foodPage {
  margin: 2%;
  background-color: #00bfff; /*blue*/
  padding: 1%;
  /* border: 2px solid black; */
}

.foodPageText {
  font-size: 1em;
  margin: 2%;
  /* border: 2px solid black; */
}

.foodPageSepText {
  margin: 1%;
  font-size: 0.7em;
}

@media only screen and (min-width: 768px) {
  .foodPageText {
    font-size: 1.2em;
    /* border: 2px solid black; */
  }
  .foodPageSepText {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 1024px) {
  .foodPageText {
    font-size: 1.4em;
    /* border: 2px solid black; */
  }

  .foodPageSepText {
    font-size: 1.1em;
  }
}
