td {
  border: 2px solid black;
  padding: 1%;
}
textarea {
  width: 80%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* background-color: #d2691e; */
}
.foodItem {
  font-size: 0.8em;
}

@media only screen and (max-width: 320px) {
  .foodItem {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 768px) {
  .foodItem {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 1440px) {
  .foodItem {
    font-size: 1em;
  }
}
