.visitPage {
  margin: 2%;
  background-color: #3cb371; /*mediumseagreen*/
  padding: 1%;
  /* border: 2px solid black; */
}
.visitPageText {
  font-size: 1em;
  margin: 2%;
  /* border: 2px solid black; */
}

.visitPageSepText {
  margin: 1%;
  font-size: 0.7em;
}

@media only screen and (min-width: 768px) {
  .visitPageText {
    font-size: 1.2em;
    /* border: 2px solid black; */
  }
  .visitPageSepText {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 1024px) {
  .visitPageText {
    /* margin-top: 1%; */
    /* margin-bottom: 2%; */
    font-size: 1.4em;
    /* margin: 2%; */
    /* border: 2px solid black; */
  }
  .visitPageSepText {
    /* margin: 1%; */
    font-size: 1.1em;
  }
}
