.readPage {
  margin: 2%;
  background-color: #9370db; /*mediumpurple*/
  padding: 1%;
  /* border: 2px solid black; */
}

.readPageText {
  font-size: 1em;
  margin: 2%;
  /* border: 2px solid black; */
}

.readPageSepText {
  margin: 1%;
  font-size: 0.7em;
}

@media only screen and (min-width: 768px) {
  .readPageText {
    font-size: 1.2em;
    /* border: 2px solid black; */
  }

  .readPageSepText {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 1024px) {
  .readPageText {
    font-size: 1.4em;
    /* border: 2px solid black; */
  }

  .readPageSepText {
    font-size: 1.1em;
  }
}
